-#%h1 Listing privacy_policies

-#- @privacy_policies.each do |privacy_policy|
-#  %h3
-#    Title:
-#    =privacy_policy.title
-#  %p
-#    = simple_format(privacy_policy.content)
-#
-#  %br
-#  = link_to 'Edit', edit_privacy_policy_path(privacy_policy)
-#  |
-#  = link_to 'Destroy', privacy_policy, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#
-#

%h4= link_to 'New Privacy policy', new_privacy_policy_path
%br

%ul
  - @privacy_policies.each do |privacy_policy|
    %li
      %div
        %h5= link_to privacy_policy.application.app_name , edit_privacy_policy_path(privacy_policy)
        %p=privacy_policy.content
      %div
        = link_to 'Destroy', privacy_policy, :method => :delete, :data => { :confirm => 'Are you sure?' }
      %hr  




-#%td= link_to 'Show'
-#%td= link_to 'Edit', edit_privacy_policy_path(privacy_policy)
