-#%h1 Listing privacy_policies
-privacy_policy = @privacy_policies.first
%h3
  Title:
  =privacy_policy.title
%p
  = simple_format(privacy_policy.content)

%br

.row
  .columns.large-12
    = link_to 'Edit', edit_privacy_policy_path(privacy_policy)

-#
-#%table
-#  %thead
-#    %tr
-#      %th Title
-#      %th Content
-#      %th
-#      %th
-#      %th
-#
-#  %tbody
-#    - @privacy_policies.each do |privacy_policy|
-#      %tr
-#        %td= privacy_policy.title
-#        %td= simple_format(privacy_policy.content)
-#        %td= link_to 'Show', privacy_policy
-#        %td= link_to 'Edit', edit_privacy_policy_path(privacy_policy)
-#        %td= link_to 'Destroy', privacy_policy, :method => :delete, :data => { :confirm => 'Are you sure?' }
-#
-#%br
-#
-#= link_to 'New Privacy policy', new_privacy_policy_path
