%table
  %tr
    %td
      #topic_fields_list
        - if @topics.present?
          %table{class: "add_col_topic_list"}
            - @topics.each do |t|
              %tr{height: "40px"}
                %td{width:"5%"}
                  #edit_link
                    = "Edit"
                %td{width:"10%"}
                  -#= link_to "DEL", hiveapplication_all_topics_path(:topic_id=> t.id), remote:true
                  -#%a{:href => hiveapplication_all_topics_path(:topic_id=> t.id), :style => "color: #FF9B00;text-decoration: none;"}
                  #del_link
                    = "Del"
                %td{width:"%5"}
                  %input{:name => "topic_id", :type => "hidden", :value => t.id, :id => "topic_id", style: "visibility:hidden;"}/
                %td{width:"30%"}
                  =t.title
                %td{width:"20%"}
                  %input{:name => "title", :type => "input", :value => t.title, :id => "txt_title",  style: "visibility:hidden;"}/
                %td{width:"15%"}
                  // image message
                  -if t.topic_type==1
                    %img{:height => "40", :src => @image_url+ t.image_url, :width => "40"}/
                  // audio message
                  -if t.topic_type==3
                    %embed.upload_video_container{:src => @audio_url+ t.image_url}/
                %td{width:"15%"}
                  =t.created_at.strftime("%d-%m-%Y")