#application_list_container
  .row
    .columns.large-12
      %span
        =link_to "Create Train Fault Topic/Alert", create_train_fault_alert_path
      %span.right
        =link_to "Create Heavy Traffic Alert", sg_accident_histories_path
  #application_list
    = "MY APPS"

  #list_of_applications_container
    = render :partial => "hiveapplication/all_application_list"

  #application_list_footer
    #app_icon_container
      #add_app_icon
        #add_app_label
          = link_to "NEW APP", hiveapplication_add_application_path


