#application_list_container
  #application_list
    = "MY APPS"

  #separator_line
  %table{class: "app_list", width: "850px"}
    %tr
      %th{width:"30%"}
        ="APP NAME"
      %th{width:"25%"}
        ="TYPE"
      %th{width:"45%"}
        = "API KEY"
  #list_of_applications_container
    = render :partial => "hiveapplication/all_application_list"

  #application_list_footer
    #app_icon_container
      #add_app_icon
        #add_app_label
          = link_to "NEW APP", hiveapplication_add_application_path


