.columns.large-4
  %h3 Reset Password
  %br
  = form_tag hiveapplication_forget_password_path, :method => :post do
    .field
      = label_tag :email
      = text_field_tag :email, params[:email]
    %br
    .actions= submit_tag "Reset Password"  , class: 'button tiny warning'