%h1 Reset Password
= form_tag hiveapplication_forget_password_path, :method => :post do
  .field
    = label_tag :email
    = text_field_tag :email, params[:email]
  .actions= submit_tag "Reset Password"