.row
  .large-centered.large-12.columns
    %h5=link_to "back", hiveapplication_users_path , style:'float:right'
    %table.user_list
      %thead
        %tr
          %th App Name
          %th Sync?
      %tbody
        -if @syn_app.present?
          -@syn_app.each do |key, value|
            %tr
              %td
                =key
              %td
                =value

    %h4 Topic
    %table.user_list
      %thead
        %tr
          %th Title
      %tbody
        -@topics.each do |topic|
          %tr
            %td
              =topic.title
        %tr
          %td= paginate @topics , :param_name => "topic_page"

    %h4 Post
    %table.user_list
      %thead
        %tr
          %th Topic Title
          %th Content
      %tbody
        -@posts.each do |post|
          %tr
            %td
              =post.topic.title rescue ''
            %td
              =post.content

        %tr
          %td= paginate @posts, :param_name => "post_page"


