.row
  .large-4.columns{style:'float:right'}
    = form_tag hiveapplication_users_path, method: "get", id: "filter", class: "filter" do
      %label{style:'color:orange;font-size:18px;'} Filter User by Application
      =select_tag "application", options_for_select(HiveApplication.all.map{|h|[h.app_name, h.id]},selected: params[:application]), prompt: "All Users", onchange: "$('#filter').submit();"


.row#display_user_list
  .large-centered.large-12.columns
    %h3 User Listing
    %table.tbl_applisting
      %thead
        %tr
          %th id
          %th user name
          %th last active
          %th created at
          %th email
      %tbody
        -if @users.present?
          -@users.each do |user|
            %tr
              %td=user.id
              %td=link_to user.username, user_accounts_path(user.id)
              %td= user.check_in_time.present? ? time_ago_in_words(user.check_in_time) : "-"
              %td=time_ago_in_words(user.created_at)
              %td=user.email rescue ''

        -else
          %tr
            %td{colspan: 5} There is no user for selected application.
    = paginate @users

=link_to "back", hiveapplication_dev_portal_path , style:'float:right;margin-top:15px;', class:'button tiny warning'
