.row
  .large-centered.large-12.columns
    %h4 User Accounts
    %h5=link_to "back", hiveapplication_users_path , style:'float:right'

    %table.user_list
      %thead
        %tr
          %th App Name
          %th Sync?
      %tbody
        -if @userAccount.present?
          -@userAccount.each do |acc|
            %tr
              %td
                =acc.account_type
              %td
                yes
        -else
          %tr
            %td Hive
            %td no
          %tr
            %td MealBox
            %td no
          %tr
            %td Carmmunicate
            %td no
          %tr
            %td Socal
            %td no
          %tr
            %td Favr
            %td no


    %h4 Topic
    %table.user_list
      %thead
        %tr
          %th title
      %tbody
        -@topics.each do |topic|
          %tr
            %td
              =topic.title
        %tr
          %td= paginate @topics , :param_name => "topic_page"

    %h4 Post
    %table.user_list
      %thead
        %tr
          %th Content
      %tbody
        -@posts.each do |post|
          %tr
            %td
              =post.content

        %tr
          %td= paginate @posts, :param_name => "post_page"


