.row
  .large-centered.large-12.columns
    .table{style:'margin-bottom:0px;'}
      .trow.header
        .cell id
        .cell UserName
        .cell Auth_Token
        .cell Email
      .trow
        .cell=@user.id
        .cell=@user.username
        .cell=@user.authentication_token
        .cell=@user.email rescue '-'

    .table
      .trow{style:'background:#fff;color:orange'}
        .cell App Name
        .cell Sync?
      -if @syn_app.present?
        -@syn_app.each do |key, value|
          .trow
            .cell=key
            .cell=value


    %h5.utt Topic
    .table
      .trow.header.blue
        .cell Title
      -if @topics.present?
        -@topics.each do |topic|
          .trow
            .cell=topic.title
        .trow
          .cell= paginate @topics , :param_name => "topic_page"
      -else
        .trow
          .cell There is no topic yet.


    %h5.utt Post
    .table{style:'margin-bottom:20px;'}
      .trow.header.green
        .cell Topic Title
        .cell Post Message
      -if @posts.present?
        -@posts.each do |post|
          .trow
            .cell=post.topic.title rescue ''
            .cell=post.content
        .trow
          .cell= paginate @posts , :param_name => "post_page"
          .cell=''
      -else
        .trow
          .cell There is no post yet.
          .cell=''

%h5=link_to "back", hiveapplication_users_path , style:'float:right', class:'button tiny warning'