.row
  .large-centered.large-12.columns
    %h3 User Listing
    %h5=link_to "back", hiveapplication_dev_portal_path , style:'float:right'

    %table.tbl_applisting
      %thead
        %tr
          %th id
          %th User Name
          %th email
          %th Action
      %tbody
        -count = 0
        -@users.each do |user|
          %tr
            %td=user.id
            %td=link_to user.username, user_accounts_path(user.id)
            %td=user.email rescue ''
            %td
    = paginate @users