.row
  .large-4.columns{style:'float:right'}
    %label{style:'color:orange;font-size:18px;'} Filter User by Application
    =select_tag "application", options_for_select(HiveApplication.all.map{|h|[h.app_name, h.id]}), prompt: "All Users",
    onchange: "update_list()", style:'margin-bottom:0px;'


.row#display_user_list
  .large-centered.large-12.columns
    %h3 User Listing
    %table.tbl_applisting
      %thead
        %tr
          %th id
          %th user name
          %th last active
          %th created at
          %th email
      %tbody
        -if @users.present?
          -@users.each do |user|
            %tr
              %td=user.id
              %td=link_to user.username, user_accounts_path(user.id)
              %td= user.check_in_time.present? ? time_ago_in_words(user.check_in_time) : "-"
              %td=time_ago_in_words(user.created_at)
              %td=user.email rescue ''

        -else
          %tr
            %td{colspan: 5} There is no user for selected application.
    = paginate @users

=link_to "back", hiveapplication_dev_portal_path , style:'float:right;margin-top:15px;', class:'button tiny warning'

:javascript
  function update_list(){
    var element = document.getElementById("application");
    var selectedText = element.options[element.selectedIndex].text;
    var selectedValue = element.options[element.selectedIndex].value;
    console.log(selectedText,selectedValue)

    if(selectedText == "All Users"){
      selectedValue = 0
    }

    $.ajax({
          url: "#{hiveapplication_users_url}",
          type: "GET",
          data: {app_id:selectedValue},
          success:function(html){
            var htmlobject = $(html);
            var output = htmlobject.find("#display_user_list")[0];
            var testing = new XMLSerializer().serializeToString(output);
            $("#display_user_list").replaceWith(testing);

          }
      });

  }