<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>

<body>
<p>
  To reset your password, use this token.
  <strong> <%= @reset_pwd_token %> </strong>
  If you did not request your password to be reset, just ignore this email and your password will continue to stay the same.
</p>
</body>
</html>
