.row
  .columns.large-12
    %div{style:'position:relative;float:left;width:560px;'}

      %div{style:'position:relative;float:left;width:65px;'}
        .parallelogram{style:'width: 65px;height: 40px;background:orange;margin-top:27px;position: relative;'}
        .parallelogram.adddiv
          %p.addinfo#carmic_address goldhill plaza

      .parallelogram.country_div
        %p
          %span.status_count#carmic_country
            Singapore
