.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.user_div

        .parallelogram.user_div_ft
          %p.user_status active


      .parallelogram{style:'width: 250px;height: 55px;'}

        .status_count#f-usercount
          -#=@FVlatestTopicUser.count

        .status_title#f-username
          -#-if @FVlatestTopicUser.count < 1
          -#  no user
          -#-else
          -#  =@FVlatestTopicUser[0]
      .picbox#f-avatar
        =image_tag("Avatars/Chat-Avatar-Chihuahua.png")


.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.topic_div

        .parallelogram.topic_div_ft
          %p.topic_status newest


      .parallelogram{style:'width: 270px;height: 55px;margin-top: 30px;'}

        .status_count#f-topic-count
          -#=@FVlatestTopics.count

        .status_title#f-topic-title
          -#=@FVlatestTopics.first.title rescue 'No Topic'

      .postbox#f-post-count
        -#-if @FVlatestTopics.count > 0
        -#  =@FVlatestTopics.first.posts.count rescue '0'
        -#-else
        -#  0

.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.loc_div

        .parallelogram.adddiv
          %p.addinfo#favr_address goldhill plaza

      .parallelogram.country_div
        .status_country#favr_country
          singapore