.row
  .columns.large-12
    %div{style:'position:relative;float:left;width:560px;'}

      %div{style:'position:relative;float:left;width:65px;'}
        .parallelogram{style:'width: 65px;height: 40px;background:orange;'}
        .parallelogram{style:'width: 65px;height: 15px;position: relative;top: -11px;left: -16px;background: rgb(75,146,230);border-color: rgb(75,146,230);'}
          %p{style:'font-size: 14px;line-height: 10px;color: #fff;text-align: center;'} active


      .parallelogram{style:'width: 250px;height: 55px;border:none; margin-left:1px;border: 1px solid gainsboro;padding-left: 10px;padding-right: 10px;'}
        %p{style:"text-indent:2em;"}
          %span.status_count
            =@latestTopicUser.count
        %p
          %span.status_title
            -if @latestTopicUser.count < 1
              no user
            -else
              =@latestTopicUser[0]
      .infobox{style:'margin-top:27px;position: relative;'}
        =image_tag("Avatars/Chat-Avatar-Chihuahua.png")