.row
  .columns.large-12
    %div{style:'position:relative;float:left;width:560px;'}

      %div{style:'position:relative;float:left;width:65px;'}
        .parallelogram{style:'width: 65px;height: 40px;background:orange;margin-top:27px;position: relative;'}
        .parallelogram{style:'width: 200px;height: 15px;position: relative;top: -11px;left: -16px;background: orange;border-color: orange;'}
          %p{style:'font-size: 14px;line-height: 10px;color: #fff;text-align: center;'} goldhill plaza

      .parallelogram{style:'width: 270px;height: 53px;margin-top: 30px;position: relative;border:none;border: 1px solid gainsboro;padding-left: 10px;padding-right: 10px;'}
        %p{style:"text-indent:2em;"}
          %span.status_count
            singapore