.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.user_div

        .parallelogram.user_div_ft
          %p.user_status active


      .parallelogram{style:'width: 240px;height: 55px;'}

        .status_count#m-usercount
          -#=@MBlatestTopicUser.count rescue '0'

        .status_title#m-username
          -#-if @MBlatestTopicUser.count < 1
          -#  no user
          -#-else
          -#  =@MBlatestTopicUser[0]
      .picbox#m-avatar
        =image_tag("Avatars/Chat-Avatar-Chihuahua.png")


.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.topic_div

        .parallelogram.topic_div_ft
          %p.topic_status newest


      .parallelogram#m-topic-list{"data-topiclist"=>"", onclick: "showtopic(this)",style:'width: 240px;height: 55px;margin-top: 30px;'}
        .status_count#m-topic-count
          -#=@MBlatestTopics.count

        .status_title#m-topic-title
          -#=@MBlatestTopics.first.title rescue 'No Topic'

      .postbox#m-post-count{"data-topicid"=>'0',"data-postcount"=>'0', onclick: "showposts(this)"}
        -#-if @latestTopics.count > 0
        -#  =@latestTopics.first.posts.count rescue '0'
        -#-else
        -#  0

.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.loc_div

        .parallelogram.adddiv
          %p.addinfo#meal_address goldhill plaza

      .parallelogram.country_div
        .status_country#meal_country
          singapore