.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.user_div

        .parallelogram.user_div_ft
          %p.user_status active


      .parallelogram{style:'width: 240px;height: 55px;'}

        .status_count#s-usercount
          -#=@SClatestTopicUser.count

        .status_title#s-username
          -#-if @SClatestTopicUser.count < 1
          -#  no user
          -#-else
          -#  =@SClatestTopicUser[0]
      .picbox#s-avatar
        =image_tag("Avatars/Chat-Avatar-Chihuahua.png")


.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.topic_div

        .parallelogram.topic_div_ft
          %p.topic_status newest


      .parallelogram{"data-app"=>"#{@socal_key}","data-reveal-id"=>"wrapper_topic_list", onclick: "showtopic(this)",style:'width: 240px;height: 55px;margin-top: 30px;'}

        .status_count#s-topic-count
          -#=@SClatestTopics.count

        .status_title#s-topic-title
          -#=@SClatestTopics.first.title rescue 'No Topic'

      .postbox#s-post-count{"data-topicid"=>'0',"data-reveal-id"=>"wrapper_post_list", onclick: "showposts(this)"}
        -#-if @SClatestTopics.count > 0
        -#  =@SClatestTopics.first.posts.count rescue '0'
        -#-else
        -#  0

.row
  .columns.large-12
    %div.right_div

      %div.wrapper
        .parallelogram.loc_div

        .parallelogram.adddiv
          %p.addinfo#socal_address goldhill plaza

      .parallelogram.country_div
        .status_country#socal_country
          singapore

