<% if flash.now[:notice] %>
alert("<%= flash.now[:notice] %>");
$('#post_content').attr('value','');
<% else %>
$("#posts_display").show();
$("#posts_display").replaceWith("<div id='posts_display' "+ "<%= escape_javascript(render(:partial => 'all_posts')) %>"+ "</div>");
<% end %>