<% if flash.now[:notice] %>
alert("<%= flash.now[:notice] %>");
$('#post_content').attr('value','');
<% else %>
$("#posts_display").replaceWith("<div id='posts_display' "+ "<%= escape_javascript(render(:partial => 'all_posts')) %>"+ "</div>");
$("#posts_display").show();

var objDiv =  $("#posts");;
if (objDiv[0])
{
    objDiv.scrollTop(objDiv[0].scrollHeight);
}
<% end %>
