.top_bar
  .logo_header
    %span{style:'font-size: 4em !important;color: rgb(7,165,179)'}carmic
    %br
    %span{style:"font-size: 18px"}at the apiary
  .redCar
    = image_tag("RedH.png",alt: "CarMask" )

  .green_cicle
  .active_car
    =@users.count
    active vehicles

  .pink_cicle
  .incident_car
    0 incidents


%br
%br
%br
%br
%div.carmic_map
  #map
#cd-zoom-out
  ='--'
#cd-zoom-in
  ='+'

:javascript
   var marker, map;
           function initialize() {
               var myLatlng = new google.maps.LatLng(32.520204, 34.937258);
               var mapOptions = {
                   zoom: 4,
                   center: myLatlng,
                   mapTypeId: google.maps.MapTypeId.ROADMAP
               }
               map = new google.maps.Map(document.getElementById('map'), mapOptions);

               marker = new google.maps.Marker({
               //marker = new SlidingMarker({
                   position: myLatlng,
                   map: map,
                   title: 'I\m sliding marker'
               });

               //marker.setMap(map);

               var $log = $("#log");
               google.maps.event.addListener(marker, 'position_changed', function () {
                   $log.html($log.html() + "marker.position_changed<br/>");
               });

           }


           ///////////////////////////////////////////////////

           $(function () {
               initialize();

               google.maps.event.addListener(map, 'click', function (event) {
                   var duration = parseInt($('#durationOption').val());

                   if (duration < 0) {
                       duration = 1;
                       $('#durationOption').val(duration);
                   }

                   marker.setDuration(duration);
                   marker.setEasing($('#easingOption').val());

                   marker.setPosition(event.latLng);
               });

               var printEvent = function (instance, eventName) {
                   google.maps.event.addListener(instance, eventName, function () {
                       console.log("Event: " + eventName);
                   });
               };

               printEvent(marker, "click");
               printEvent(marker, "map_changed");
               printEvent(marker, "position_changed");
               printEvent(marker, "animationposition_changed");

               //if (window.location.hash == "#iframe") {
               //    $('#backLink').hide();
               //    $('#controls').css('height', '55px');
               //}

           });
