%script{src: "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", type: "text/javascript"}
%script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", type: "text/javascript"}
%script{src: "//google-maps-utility-library-v3.googlecode.com/svn/tags/infobox/1.1.9/src/infobox_packed.js", type: "text/javascript"}
%script{src: "https://google-maps-utility-library-v3.googlecode.com/svn-history/r293/trunk/richmarker/src/richmarker.js", type: "text/javascript" }

.top_bar
  .logo_header
    %span{style:'font-size: 4em !important;color: rgb(7,165,179)'}carmic
    %br
    %span{style:"font-size: 18px"}at the apiary
  .redCar
    = image_tag("RedH.png",alt: "CarMask" )

  .green_cicle
  .active_car
    =@users.count
    active vehicles

  .pink_cicle
  .incident_car
    0 incidents



%br
%br
%br
%br
%div.carmic_map
  #map

:javascript

   var __markers;
   $("#header").hide();
   $(".container").addClass("removebg");
   $("#main_background").addClass("removebg");
   $myDiv = $('.container');
   $myDiv.css('background-image', 'none');
   $(".custom_marker_content").parents('div').addClass("noshadow");
   var handler = Gmaps.build('Google', { builders: { Marker: InfoBoxBuilder} });
     handler.buildMap({ internal: {id: 'map'}}, function(){
        handler.getMap().setZoom(16);
       var markers = handler.addMarkers(#{raw @hash.to_json});
       __markers = markers

       var style = document.createElement('style');
       style.markers = [];
       document.getElementsByTagName('head')[0].appendChild(style);


       _.each(markers, function(marker){
          google.maps.event.trigger(marker.getServiceObject(), 'click');
          //var icon = marker.serviceObject.getIcon();
          //console.log(icon["url"])


       });

       handler.bounds.extendWith(markers);

       handler.fitMapToBounds();
       handler.getMap().setZoom(16);

     });

  function getCoords(){
    $.ajax({
      type: 'GET',
      url: "#{@url}",
      success: function(data){
      console.log(data.marker)

      updateMarkers(handler,data.marker,__markers);

      $(data.marker).each(function(i,e){
        //console.log(e)
        var marker = e;
        var lat = e["lat"];
        var lng = e["lng"];
      })

      }
    });
  }

  (function() {
      /* __markers will hold a reference to all markers currently shown
       on the map, as GMaps4Rails won't do it for you.
       This won't pollute the global window object because we're nested
       in a "self-executed" anonymous function */


      function updateMarkers(map, markersData, old_marker)
      {
          // Remove current markers
          map.removeMarkers(old_marker);

          // Add each marker to the map according to received data

          __markers = _.map(markersData, function(markerJSON) {
              marker = map.addMarker(markerJSON);
              //map.getMap().setZoom(16); // Not sure this should be in this iterator!

              _.extend(marker, markerJSON);

              marker.infowindow = new google.maps.InfoWindow({
                  content: marker.infowindow
              });

              return marker;
          });

  //        _.each(__markers, function(marker){
  //            google.maps.event.trigger(marker.getServiceObject(), 'click');
  //        });

          map.bounds.extendWith(__markers);

  //        map.fitMapToBounds();
      };

      // "Publish" our method on window. You should probably have your own namespace
      window.updateMarkers = updateMarkers;
  })();

  window.setInterval(getCoords, 5000);
