#application_list_container {
  height: 370px;
  width:  840px;
  margin: 0 auto;
  margin-top: 50px;

  #application_list {
    margin: 0 auto;
    height: 25px;
    width: 840px;
    background: #FF9B00;
    color: white;
    padding: 10px 0px 10px 10px;
    font-size: 25px;
    //text-align: left;
  }
}
#additional_columns,#default_columns{
  font-size: 30px;
}
#list_of_applications_container {
  height: 234px;
  width: 848px;
  border: solid #FF9B00 1px;
  overflow: scroll;
  overflow-x: hidden;
}

table.app_list {
  width: 850px !important;
  th {
    background: #FF9B00;
    color: white;
    font-size: 20px;
    height: 10px;
  }

  td {
    text-align: center;
    font-size: 18px;
  }

  tr {
    border-bottom: solid #FF9B00 1px;
  }

  tr:hover {
    //cursor: pointer;
  }
}

table.field_list {
  th {
    background: #FF9B00;
    color: white;
    font-size: 16px;
    height: 10px;
  }

  td {
    text-align: center;
    font-size: 18px;
  }

  tr {
    border: solid #FF9B00 1px;
  }

  tr:hover {
    cursor: pointer;
  }
}

.individual_app_cell {
  height: 30px;
  text-transform: uppercase;
  line-height: 30px;
  vertical-align: middle;
}

#separator_line {
  background: white;
  height: 1px;
  //width: 100%;
  width: 848px;
  border: solid #FF9B00 1px;
}

#application_list_footer {
  height: 32px;
  width: 850px;
  color: white;
  padding: 5px 0px 0px 0px;
  font-size: 20px;
  background: #FF9B00;

  #app_icon_container {
    height: 30px;
    width: 100px;
    margin: 0 auto;

    #add_app_icon {
      height: 25px;
      width: 30px;
      background-image: url("new_app.png");

      #add_app_label {
        height: 25px;
        width: 90px;
        margin-left: 40px;
        color: white;
        line-height: 25px;
      }

      #add_app_label a {
        color: white;
        text-decoration: none !important;
      }
    }
  }
}
.img_app_icon{
  width:30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}

#del_col_container, #edit_col_container{
 text-decoration: underline;
 color: blue;
}


table.add_col_topic_list {
  width: 850px !important;
  th {
    background: #FF9B00;
    color: white;
    font-size: 16px;
    height: 10px;
  }

  td {
    text-align: center;
    font-size: 18px;
  }

  tr {
    border-bottom: solid #FF9B00 1px;
  }

  tr:hover {
    cursor: pointer;
  }
}

table.add_col_post_list {
  width: 850px !important;
  th {
    background: #FF9B00;
    color: white;
    font-size: 16px;
    height: 10px;
  }

  td {
    text-align: center;
    font-size: 18px;
  }

  tr {
    border-bottom: solid #FF9B00 1px;
  }

  tr:hover {
    cursor: pointer;
  }
}

//#create_app_container{
//  display: table;
//  margin: 0 auto;
//
//}
