// Place all the styles related to the carmic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carmic_map{
  width: 600px;
  height: 600px;
  border-radius: 50% !important;
  margin-left: 50px;
  text-align: center;
  //margin: 0 auto;
}
#map{
  width: 600px;
  height: 600px;
  //border-radius: 250px !important;
  border: 2px solid deepskyblue;
  position: relative;
  -moz-border-radius:50%;
  -webkit-mask-border-radius:50%;
  -webkit-border-radius:50%;
  //-webkit-box-shadow: 0 10px 6px -6px #777;
  //-moz-box-shadow: 0 10px 6px -6px #777;
  //box-shadow: 0 10px 6px -6px #777;

}

.hook, .marker_container{
  color: white !important;
  font-size: 14px;
}


.infoBox > img{
  display: none !important;
}

.infoBox {
  position: relative;
  background: rgb(2,166,180) !important;
  border-radius: 10px;
  opacity: 0.7;
}
.infoBox:after, .infoBox:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.infoBox:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: rgb(2,166,180);
  border-width: 7.5px;
  margin-left: -7.5px;
}
.infoBox:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 9px;
  margin-left: -9px;
}

