// Place all the styles related to the carmic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carmic_map{
  width: 600px;
  height: 600px;
  border-radius: 50% !important;
  margin-left: 50px;
  text-align: center;
  //margin: 0 auto;
}
#map{
  width: 600px;
  height: 600px;
  //border-radius: 250px !important;
  border: 2px solid deepskyblue;
  position: relative;
  -moz-border-radius:50%;
  -webkit-mask-border-radius:50%;
  -webkit-border-radius:50%;
  //-webkit-box-shadow: 0 10px 6px -6px #777;
  //-moz-box-shadow: 0 10px 6px -6px #777;
  //box-shadow: 0 10px 6px -6px #777;

}

.gm-style{
  -webkit-transform: translateZ(0px);
}


//
//.background::after {
//  content: "";
//  background: red;
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  z-index: 1;
//}
//
//.background > * {
//  z-index: 10;
//}
