// Place all the styles related to the carmic controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//


body {  min-width:560px !important;  }

.top_bar1{
  width: 100%;
  height: 40px;
  background: rgb(7,165,179);
  margin-top: 40px;
  float: left;
}

.logo_header{
  margin-top: -45px;
  position: absolute;
  color: #fff;
  margin-left: 15px;

}

.redCar{
  position: absolute;
  margin-left: 170px;
  margin-top:-35px;
}


.green_cicle{
  background:rgb(126,211,33);
  border:2px solid rgb(176,228,115) ;
  width:27px !important;
  height:27px;
  border-radius:50%;
  margin-left:33% ;
  margin-top: 5px;

}
.active_car{
  margin-left: 37%;
  color: #fff;
  font-size: 18px;
  position: relative;
  margin-top: -22px;
}


.pink_cicle{
  background:rgb(231,121,180);
  border:2px solid rgb(224,213,228) ;
  width:27px;
  height:27px;
  border-radius:50%;
  margin-right: 40%;
  margin-top:-27px;
  float: right;

}
.incident_car{
  margin-left: 70%;
  color: #fff;
  font-size: 18px;
  position: relative;
  float: right;
  margin-right: 29%;
  margin-top:-25px;
  width: 100px;

}


.hook, .marker_container{
  color: white !important;
  font-size: 14px;
}


.infoBox > img{
  //display: none !important;
}

.infoBox {
  position: relative;
  background: rgb(2,166,180) !important;
  border-radius: 10px;
  opacity: 0.7;
}
.infoBox:after, .infoBox:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.infoBox:after {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: rgb(2,166,180);
  border-width: 7.5px;
  margin-left: -7.5px;
}
.infoBox:before {
  border-color: rgba(194, 225, 245, 0);
  border-top-color: #c2e1f5;
  border-width: 9px;
  margin-left: -9px;
}

.noshadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.marker_icon{
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 50%;
  box-shadow:
    0 0 0 1px rgb(7,165,179),
    0 0 0 2px #fff,
    0 0 0 3px rgb(7,165,179),

}

$radius: 250px;
$thickness: 5px;
$border-color: rgb(7,165,179);
$background-color: white;

#dashbeta{
  background: rgb(7,165,179);
  height: 68px;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  line-height: 68px;
  text-align: center;
  color: #fff;
  font-size: 2em ;
  font-family: Labrador-A-Light;
}


.message_list{
  background: rgb(7,165,179);
  height: 40px;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  line-height: 40px;
  text-align: center;
  color: #fff;
  font-size: 18px ;
  font-family: Labrador-A-Light;
}

.greenCirlce {
  background: rgb(80,227,194);
  border:2px solid rgb(177,240,227);
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  color: #ffffff;
  display: inline-block;
  line-height: 2em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
  font-size: 18px ;
  font-family: Labrador-A-Light;
}

.redCirlce {
  background: rgb(208,2,26);
  border:2px solid rgb(239,169,175);
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  color: #ffffff;
  display: inline-block;
  line-height: 2em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
  font-size: 18px ;
  font-family: Labrador-A-Light;
}

.totalmsgCircle{
  background: #fff;
  border:2px solid rgb(177,240,227);
  border-radius: 1.5em;
  -moz-border-radius: 1.5em;
  -webkit-border-radius: 1.5em;
  color: rgb(60,175,181);
  display: inline-block;
  line-height: 2em;
  margin-right: 5px;
  text-align: center;
  width: 2em;
  font-size: 18px ;
  font-family: Labrador-A-Light;
}

#sub_left{
  color: rgb(60,175,181);
  font-size: 18px ;
  position: relative;
}

#clock_time{

}



#map_wrapper{
  width: 450px;
  height:450px;
  -moz-border-radius:50% !important;
  -webkit-mask-border-radius:50% !important;
  -webkit-border-radius:50% !important;
  overflow: hidden;
  position: absolute; /* this breaks the overflow:hidden in Chrome/Opera */
  box-shadow:
    0 0 0 1px rgb(7,165,179),
    0 0 0 6px #fff,
    0 0 0 18px rgb(7,165,179),
    0 0 0 23px #fff,
    0 0 0 24px rgb(7,165,179) ;
  margin-top: 50px;
}
.carmic_map{
  width: 100%;
  height: 100%;
  -moz-border-radius:50% !important;
  -webkit-mask-border-radius:50% !important;
  -webkit-border-radius:50% !important;
  overflow: hidden;
  position: absolute; /* this breaks the overflow:hidden in Chrome/Opera */
  -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
}



.topic_tbl{
  border-collapse:separate;
  border-spacing:0 5px;

}

.topic_row{
  height: 42px;
  background: #fff;
  border-top-left-radius: 1.6em;
  border-bottom-left-radius: 1.6em;
  border: 1px solid rgb(7,165,179);
  border-right:1px solid transparent;
}

.topic_tbl span{
  //color: rgb(7,165,179) !important;
  font-size: 1.2em;
}

#time_filter{

  margin-bottom: 20px;
  background: rgb(7,165,179);
  color:#fff;
  height: 42px;
  line-height: 42px;
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;

}

.swap_focus{
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border:5px solid #fff;
  background:rgb(7,165,179);
}
.car_no{
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-weight: normal;
  line-height: 1;
  margin-bottom: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.25rem 0.5rem 0.25rem;
  font-size: 0.8em;
  background-color: rgb(6,149,165);
  color: #FFFFFF;
}

.tabs{
  text-align: center;
}

#car_tab,#message_tab,#incident_tab{
  width: 160px;
  height: 100px;
  line-height: 100px;
  display: block;
  //text-align: center !important;
  padding: 0px;
  color: #fff;
  font-size: 1.5em;
  border: 2px solid #fff;
  text-decoration: none;
  border: none;
  //box-shadow:
  //  0 0 0 2px #fff,
  //  0 0 0 4px rgba(255, 255, 255, 0.2),
  //  0 0 0 4px rgb(7,165,179);

  span{
    margin-left: -60px;
  }
}

#timelabel{
  line-height: 1;
  margin-bottom: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  padding: 0.25rem 0.5rem 0.25rem;
  font-size: 0.6875rem;
  background-color: #FFFFFF;
  color: #008CBA;
  border-radius: 5px;
  font-size: 15px;
  margin-right: 10px;
}
#car_tab{
  background: transparent;
  background-image: url("CountCars.png");
  background-repeat: no-repeat;
}
#message_tab{
  background: transparent;
  background-image: url("CountMessages.png");
  background-repeat: no-repeat;
}
#incident_tab{
  background: transparent;
  background-image: url("CountIncidents.png");
  background-repeat: no-repeat;
}

#active_users{
  width: auto;
  height: 460px;
  //box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow-y : scroll;

}


#nav{
  width: auto;
  //height: 297px;
  ////box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  //overflow-y : scroll;

}

#select_country{
  padding: 0px !important;
  height: 38px;
  overflow: hidden;
  float: right;
}

#country_list{
  background: rgb(6,149,165);
  color: #fff;
  height: 38px;
  text-indent: 5px;
  font-size: 16px ;
  border: none;
  option{
    color: rgb(6,149,165);
    padding: 8px;
    height: 50px;
  }
}

#lefttopbar{
  background: rgb(7,165,179);
  height: 38px;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  line-height: 38px;
  text-align: center;
  color: #fff;
  font-size: 1.4em ;
  font-family: Labrador-A-Light;
  //border-top: 3px solid rgb(7,165,179);
  //border-bottom: 2px solid rgb(7,165,179);
  padding-right: 0px;
  margin-bottom: 20px;
}

#lefttopbar{
  input[type="text"] {
    background: white none repeat scroll 0 0;
    border-image: none;
    border-color: none;
    box-shadow: none;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    color: rgb(6,149,165);
    height: 34px;
    margin: 0px;
    padding: 0 10px;
    font-size: 18px ;
    font-family: Labrador-A-Light;
    outline: 0;
    margin-top: 3.4px;
  }

}

#autocomplete{
  display: none;
}

#ok_find{
  background: rgb(7,165,179);

}

.tbl_cars{
  border: 1px solid rgb(7,165,179);
  th {
    background: rgb(6,149,165);
    color: #fff;
  }
}

@import "compass/css3";

/*

RESPONSTABLE 2.0 by jordyvanraaij
  Designed mobile first!

If you like this solution, you might also want to check out the 1.0 version:
  https://gist.github.com/jordyvanraaij/9069194

*/

// Default options for table style
$table-breakpoint: 480px;
$table-background-color: #FFF;
$table-text-color: #024457;
$table-outer-border: 1px solid #167F92;
$table-cell-border: 1px solid #D9E4E6;

// Extra options for table style (parse these arguments when including your mixin)
$table-border-radius: 10px;
$table-highlight-color: #EAF3F3;
$table-header-background-color: #167F92;
$table-header-text-color: #FFF;
$table-header-border: 1px solid #FFF;

// The Responstable mixin

@mixin responstable(
$breakpoint: $table-breakpoint,
$background-color: $table-background-color,
$text-color: $table-text-color,
$outer-border: $table-outer-border,
$cell-border: $table-cell-border,
$border-radius: none,
$highlight-color: none,
$header-background-color: $table-background-color,
$header-text-color: $table-text-color,
$header-border: $table-cell-border) {

  .responstable {
    margin: 1em 0;
    width: 100%;
    overflow: hidden;
    background: $background-color;
    color: $text-color;
    border-radius: $border-radius;
    border: $outer-border;

    tr {
      border: $cell-border;
      &:nth-child(odd) { // highlight the odd rows with a color
        background-color: $highlight-color;
      }
    }

    th {
      display: none; // hide all the table header for mobile
      border: $header-border;
      background-color: $header-background-color;
      color: $header-text-color;
      padding: 1em;
      &:first-child { // show the first table header for mobile
        display: table-cell;
        text-align: center;
      }
      &:nth-child(2) { // show the second table header but replace the content with the data-th from the markup for mobile
        display: table-cell;
        span {display:none;}
        &:after {content:attr(data-th);}
      }
      @media (min-width: $breakpoint) {
        &:nth-child(2) { // hide the data-th and show the normal header for tablet and desktop
          span {display: block;}
          &:after {display: none;}
        }
      }
    }

    td {
      display: block; // display the table data as one block for mobile
      word-wrap: break-word;
      max-width: 7em;
      &:first-child {
        display: table-cell; // display the first one as a table cell (radio button) for mobile
        text-align: center;
        border-right: $cell-border;
      }
      @media (min-width: $breakpoint) {
        border: $cell-border;
      }
    }

    th, td {
      text-align: left;
      margin: .5em 1em;
      @media (min-width: $breakpoint) {
        display: table-cell; // show the table as a normal table for tablet and desktop
        padding: 1em;
      }
    }
  }
}

#main_content{
  height: 100%;
}

//Posts

#posts_display{
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  width: auto;
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow    : none;
  height: 320px;
  width: 100%;
  border: 1px solid rgb(7,165,179);
  border-right:1px solid transparent;
  background: rgb(255, 255, 255); /* The Fallback */
  background: rgba(255, 255, 255, 0.7);
  display: none;

}

#create_post{
  height: 60px;
  width: 100%;
  //border      : 0px solid #f5f5f5;
  background-color:rgb(7,165,179);

  color       : #6E4838;
  border-radius: 2px;
  border-bottom-left-radius: 1.5em;
  input::-webkit-input-placeholder {
    color:#90A3B5;
  }
  input::-moz-placeholder {}
  input::-ms-input-placeholder {}
  input[type=submit] {
    width       : 50px;
    height: 25px;
    float : right;
    margin:10px 10px 10px 25px;
    background-color: #fff;
    border-radius: 5px;
    color: rgb(7,165,179);;
    font-size: 16px;
    border-color:rgb(7,165,179);
  }
}


#post_form {
  margin            : 0 10px 10px 10px;
  overflow          : hidden;

  form {
    label { display   : none; }

    input[type=text] {
      float           : left;
      width           : 395px;
      margin-right    : 10px;
    }

    input[type=submit] {
      margin          : 0px;
      padding         : 0px;
      float           : left;
    }
  }
}


#posts {
  margin:0.8em;
  //background: #F0F0F0;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 250px;
  position: relative;
  border-left-color: white;
  .post_time{
    display       : block;
    height        : 48px;
    margin: 0px 10px;
    color: #167F92;
    font-family: RBNo31Medium;
    font-size: 12px;
  }

  .avatar
  {
    display       : block;
    height        : 48px;
    width         : 48px;
    margin-right  : 16px;
    background-repeat   :no-repeat;
    background-position : 50% 50%;
    margin: 5px 0px ;
    border: 2px solid rgb(7,165,179);
    box-shadow: 1px 1px 1px rgb(7,165,179);
    border-radius: 5px;
    margin: 3px;

  }


  .chat {
    width: 200px;
  }

  .bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    margin: 5px 20px;
    max-width: 300px;
    overflow: visible;
  }

  .bubble::before{
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    max-width: 200px;
    height: 16px;
    position: absolute;

    top: 11px;
    transform:         rotate( 29deg ) skew( -35deg );
    -moz-transform:    rotate( 29deg ) skew( -35deg );
    -ms-transform:     rotate( 29deg ) skew( -35deg );
    -o-transform:      rotate( 29deg ) skew( -35deg );
    -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
  }

  .me {
    float: right;
  }

  .upload_audio_container{
    width: auto;
    height: 60px;
  }

  .me::before {
    //box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
  }

  .you {
    float: left;
  }

  .you::before {
    //box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
  }

  username.you {
    font-size: 12px;
    color: #167F92;
    font-family: RBNo31Medium;
    float: left;
    text-transform: uppercase;
  }
  username.me {
    color: #167F92;
    font-family: RBNo31Medium;
    font-size: 12px;
    float: right;
    text-transform: uppercase;
  }
  content {
    font-size: 16px;
    color: #167F92;
    font-weight: normal;
  }
  a,
  a:visited {
    font-size: 16px;
    color: #167F92;
    font-weight: normal;
    &:hover {
      text-decoration : underline;
    }
  }
}

// Include the mixin (with extra options as overrides)

@include responstable(
  $border-radius: $table-border-radius,
  $highlight-color: $table-highlight-color,
  $header-background-color: $table-header-background-color,
  $header-text-color: $table-header-text-color,
  $header-border: $table-header-border);

// General styles

/*

#draggable {
  width: 40px; height: 40px; padding: 0.5em; float: left;
  margin: 10px 10px 10px 0;
  background-image: url("clock_pin.png");
  background-repeat: none;
  background-color: transparent;
  border: none;
  margin: 0 auto;
  text-align: center;
  margin-left: 170px;
} */

.droppable {
  width: 50px;
  height: 50px;
  padding: 0.5em;
  float: left;
  margin: 10px;
}
#spiner_container{
  width:450px; height:450px;
  position:relative;
  border-radius:50%; -moz-border-radius: 50%; -webkit-border-radius: 50% ;
  vertical-align: top;
  display: inline-block;
  margin: 0 auto;
  z-index: 999;
}

.circle {
  box-shadow:
    0 0 0 2px #fff,
    0 0 0 3px rgb(7,165,179),
    0 0 0 6px #fff,
    0 0 0 14px rgb(7,165,179),
    0 0 0 19px #fff,
    0 0 0 20px rgb(7,165,179);

  -moz-border-radius:50% !important;
  -webkit-mask-border-radius:50% !important;
  -webkit-border-radius:50% !important;


}

#map {
  margin-bottom:50px;
  width:100%;
  height:auto;
  padding: 50% 0;
  -moz-border-radius:50% !important;
  -webkit-mask-border-radius:50% !important;
  -webkit-border-radius:50% !important;

  -webkit-transform: translateZ(0);
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);

  box-shadow:
    0 0 0 1px rgb(7,165,179),
    0 0 0 6px #fff,
    0 0 0 18px rgb(7,165,179),
    0 0 0 23px #fff,
    0 0 0 24px rgb(7,165,179) ;
  overflow:hidden !important;

}

#dynamic-container{
  width:400px; height:400px;
  background-color: transparent;
  position:relative;
  margin-left: 25px; margin-top:25px;
  border-radius:50%; -moz-border-radius: 50%; -webkit-border-radius: 50%}

#innerCircle{
  width: 340px; height: 340px; position: absolute;
  left: 30px; top:30px; background-color: transparent;
  border-radius:50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;
}

#marker{
  width: 18px; height:29px;
  //border:2px solid rgb(6,149,165);
  position:absolute; left:195px; cursor: crosshair;
  -moz-transform:rotate(0deg);
  -moz-transform-origin:5px 200px;

  transform:rotate(0deg);
  transform-origin:5px 200px;

  -ms-transform:rotate(0deg);
  -ms-transform-origin:5px 200px;

  -webkit-transform:rotate(0deg);
  -webkit-transform-origin:5px 200px;
  z-index:17;

  //background: transparent url("TimePin.png") no-repeat center;
  background-image: url("TimePin.png");
  background-repeat: none;
  background-color: transparent;
  overflow: hidden;
  display: none;
}

.rm_bg_spin{
  border: none !important;
  background-image: none !important;
  background-color: transparent !important;
}

.add_bg_spin{
  border: 1px solid rgb(6,149,165);
  background-image: url('TimeClock.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
  display: none;
}

.circle_shadow{
  box-shadow:
    0 0 0 1px rgb(7,165,179),
    0 0 0 6px #fff,
    0 0 0 18px rgb(7,165,179) !important;
}

#one {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  position:relative;
  background: rgb(7,165,179);
}

#two {
  border-top-left-radius: 2em;
  border-bottom-left-radius: 2em;
  position:relative;
  background: rgb(7,165,179);
}

.square {text-align:center; line-height:50px; color:white; font-weight:bold;}
.clear {clear:both;}

.map_left_control{
  width: 230px;
  height: 366px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  left: 180px;
  top: 45px;

  div{
    overflow:auto;
    margin: 2px;

  }
}
.map_right_control{
  width:230px;
  height: 365px;
  vertical-align: top;
  display: inline-block;
  position: relative;
  left: -180px;
  top: 45px;

  div{
    overflow:auto;
    margin:2px;
    width: 230px;
    height: 118px;
  }
}


#map_zoomIn{
  background-image: url('carmic/MapRightTop.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: #fff;
  font-size: 4em !important;
  padding-top: 30px;
  padding-left: 120px;
}
#map_zoomOut{
  background-image: url('carmic/MapRightBtm.png') !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  color: #fff;
  font-size: 4em !important;
  padding-top: 30px;
  padding-left: 120px;
}

.time_control{
  background: rgb(7,165,179);
  border-radius: 10px;
  padding-top: 35px;
  padding-left: 165px;
  //text-align: right;
  position: relative;
  left:-2px;
  //text-align: right;
  //margin:0 auto;
  //line-height: 120px;
  color: #fff;
  overflow-x: hidden !important;
  a{
    span{
      color: #fff;
      font-size: 1.2em;
    }
  }
}

.centerMap{
  position: relative;
  left: 240px;
  height: 600px;
}


.mapzoomcontrol{
  width:400px;
  position:relative;
  margin: 0 auto;
  height: 160px;
  display: none;
}
div#btn_zoom_in,div#btn_zoom_out{
  font-size: 35px;
  background-color: rgb(7,165,179);
  text-align: center;
  height: 60px !important;
  width: 60px !important;
  line-height: 60px;
  color: #fff;
  border-radius: 50%;
  border: 2px solid #fff;
  margin: 0 auto;
  display: none;
  margin:20px;

}

#signin_model,#myModal,#forget_pwd{
  width : 400px;
  h4{
    color: #fff;
  }
  span{
    color: #fff;
    font-size: 1em;
  }

  input[type=email], input[type=text],
  input[type=password] input[type="email"],
  input[type="text"], input[type="password"] {
    border: none !important;
    outline: none !important;
    border-radius: 20px !important;
    height: 36px !important;
  }

  a{
    color: #fff !important;
  }

}

.reveal-modal-bg{
  background:rgba(0, 0, 0, 0) !important; ;
}

.reveal-modal{
  background: rgb(7,165,179);
  min-height: 300px !important;
  border-radius: 15px !important;
  border: 1px solid #fff !important;
  top: 30px;

}

.form_btn{
  background-color: rgb(7,165,179);
  border: 1px solid;
  border-radius: 20px !important;
  float: right;
  padding: 0.625rem 1.25rem 0.6875rem 1.25rem;
  font-size: 0.6875rem;

}

.form_btn:hover, .form_btn:focus, .form_btn:hover,
.form_btn:hover,  .form_btn:focus,
.form_btn:focus{
  background-color: rgb(7,165,179) !important; ;
}

.full_bg{

    /* Location of the image */
    background-image: url("carmic/map_bg.png") !important;

    /* Image is centered vertically and horizontally at all times */
    background-position: center center;

    /* Image doesn't repeat */
    background-repeat: no-repeat;

    /* Makes the image fixed in the viewport so that it doesn't move when
       the content height is greater than the image height */
    background-attachment: fixed;

    /* This is what makes the background image rescale based on its container's size */
    background-size: cover;

    /* Pick a solid background color that will be displayed while the background image is loading */
    background-color:#464646;

    /* SHORTHAND CSS NOTATION
     * background: url(background-photo.jpg) center center cover no-repeat fixed;
     */

}

.blur-bgimage {
  overflow: hidden;
}
.blur-bgimage:before {
  content: "";
  position: absolute;
  width : 100%;
  height: 100%;
  background: inherit;
  z-index: -1;

  filter        : blur(10px);
  -moz-filter   : blur(10px);
  -webkit-filter: blur(10px);
  -o-filter     : blur(10px);

  transition        : all 2s linear;
  -moz-transition   : all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition     : all 2s linear;
}

#display_topic_post{
  width: auto;
  height: 550px;
  //box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  overflow-y : scroll;

}
