$wheat          : #F3DEA8;
$citrinewhite   : #FCF9ED;
$shinglefawn    : #6E4838;
$ecstasy        : #F57525;
$amber          : #FFB10C;
$darkamber      : #E5A00C;
$confetti       : #E6C45A;
$bondiblue      : #00A3B2;
$lightgray      : #d3d3d3;
$darkheader     : #20272e;
$whitegrey      : #f5f5f5;
$headerhover    : #74899E;


//for tag
$gametag        : #3CB4FF;
$flaretag       : #FF783C;
$beacontag      : #9B7DFF;
$normalstickytag : #5A7896;

//main color
$slategrey : #3E5268;
$slateblue : #8096AA;

$slateblue2 : #4D789F;
$footerblue : #6985A0;
$gray       : #DCDCDC;
$posttext : #587895;
$headerblue : #3E5468;
$buttontext : #D1D1D1;
$footershading : #58636E;
$footertext : #DCDFE4;

$tr_even :#506476;
$tr_odd :  #596D81;
