#dev_portal_header {
  height:  40px;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  font-size: 20px;
  background: #FF9B00;
  vertical-align: middle;
  color: white;
}
#text_container
{
  padding-left: 10px;
  padding-bottom: 10px;
  float: left;
  padding-top: 15px;
  font-family: Labrador-A-Medium;
  font-size: 25px;
}
#remain_char_container{
  padding-bottom: 10px;
  padding-top: 15px;
  font-size: 18px;
  float: right;
  font-family: Labrador-A-Medium;
  font-size: 22px;
}
#create_application_form {
  width:  100%;
  margin: 0 auto;
  margin-top: 50px;
  color: #FF9B00;
  text-align: center;
  font-size: 24px;
}
table.tbl_create_app_container{
  width: 50%;
  margin: 0 auto;
}
table.tbl_create_app{
  width: 100%;
  border: solid #FF9B00 1px;
}
table.tbl_create_app tr {
  height: 25px;
  vertical-align: top;
}
table.tbl_create_app td {
  width: 50%;
  text-align:  left;
}
table.tbl_warning{
  width: 50% !important;
}
table.tbl_create_app_container td.td_btn_container{
  //text-align: right !important;
  .btn_edit_container{
    float: right;
  }

  .btn_adv_option_container,.btn_back_option_container{
    float: left;
    background: #FF9B00;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 250px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    font-family: Labrador-A-Medium;
    font-size: 22px;

  }
  .btn_save_additional_field_container{
    float: left;
    background: #FF9B00;
    font-size: 16px;
    color: white;
    border: none;
    cursor: pointer;
    height: 30px;
    width: 150px;
    margin-left: 10px;
    margin-top: 10px;
    padding-top: 10px;
    text-align: center;
    float: right;
    font-family: Labrador-A-Medium;
    font-size: 22px;
  }
}

table.tbl_create_app_container td.td_warning_container{
  text-align: left !important;
  .warning_description{
    font-size: 18px;
    font-family: Labrador-A-Medium;
    color: #FF9B00;
  }
  .warning_header {
    font-size: 22px;
    font-family: Labrador-A-Medium;
    color: #FF9B00;
  }
}

input#AppAdditionalColumn_additional_column_name{
  border: solid #FF9B00 1px;
  color: #FF9B00;
  height: 20px;
  width: 300px;
  margin: 2px;
}

input#dev_portal_application_name{
  border: solid #FF9B00 1px;
  font-family: Labrador-A-Medium;
  font-size: 18px;
  color : #FF9B00;
  height: 25px;
  width: 300px;
  margin-left: 10px;
  margin-bottom: 10px;
}

input[type=submit]#btn_create_app{
  background: #FF9B00;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  height: 40px;
  margin-left: 10px;
  margin-top: 10px;
  font-family: Labrador-A-Medium;
  font-size: 22px;
}

input[type=submit]#btn_adv_option{
  background: #FF9B00;
  font-size: 16px;
  color: white;
  border: none;
  cursor: pointer;
  height: 30px;
  margin-left: 10px;
  margin-top: 10px;
}

textarea#dev_portal_description{
  border: solid #FF9B00 1px;
  font-size: 18px;
  color : #FF9B00;
  color : #FF9B00;
  margin-left: 10px;
  margin-bottom: 10px;
}

select#dev_portal_application_type{
  background: #FF9B00;
  color: white;
  height: 25px;
  width: 200px;
  font-family: Labrador-A-Medium;
  font-size: 18px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.upload-preview{
  border: solid #FF9B00 2px;
  background-color: white;
  height: 120px ;
  margin-left: 10px;
  width: 120px;
}

#btn_upload_icon{
  position: relative;
}

#btn_upload_icon {
  position: relative;
}

#btn_upload_icon .wrapper {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  height: 25px;
  top: 0;
  z-index: 2;
}

#btn_upload_icon button {
  background-color: #ccc;
  border: none;
  color: white;
  height: 25px;
  font-family: Labrador-A-Medium;
  font-size: 22px;
  background-color: #FF9B00;
  padding: 3px 5px;
  position: relative;
  top: 0;
  z-index: 1;
}
#btn_topic_new_field_container, #btn_post_new_field_container{
  font-size: 16px;
  float: right;
}

#table_separator_line {
  background: #FF9B00;
  height: 1px;
  //width: 100%;
  width: 848px;
}

#btn_new_field_btn{
  margin-top: 5px;
  float: left;
}
#btn_new_field_label{
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

#additional_field_list_container {
  height: 300px;
  width:  840px;
  margin: 0 auto;
  margin-top: 10px;
  font-family: Labrador-A-Medium;

  #additional_field_list {
    margin: 0 auto;
    height: 40px;
    width: 840px;
    background: #FF9B00;
    color: white;
    //padding: 10px 0px 10px 10px;
    line-height: 40px;
    font-size: 25px;
    font-weight: bold;
    padding-left: 10px;
    //text-align: left;
  }
}

#list_of_topic_fields_container, #list_of_post_fields_container {
  height: 234px;
  width: 848px;
  border: solid #FF9B00 1px;
  overflow: scroll;
  overflow-x: hidden;
}

input#txt_column_name{
  border: solid #FF9B00 1px;
  color: #FF9B00;
  height: 25px;
  width: 300px;
  margin: 5px;
}

.imgClass {
  background-image: url("btn_tick.png");
  background-position:  0px 0px;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: 0px;
  background-color: none;
  cursor: pointer;
  outline: 0;
}
