#sign_in_form {
  height:  220px;
  width:  300px;
  color: white;
  margin: 0 auto;
  margin-top: 20px;
}

#sign_up {
  display: inline-block;
  font-family: Labrador-A-Light;
  height: 23px;
  width:  80px;
  font-size: 16px;
  background-color: #FF9B00;
  text-align: center;
  line-height: 26px;
  margin-left: 12px;
}

#sign_up a {
  color: white;
  text-decoration: none !important;
}

#email_label, #password_label {
  font-size: 16px;
  font-family: Labrador-A-Light !important;
  color: #FF9B00
}

.sign_in_input {
  height: 23px;
  font-family: Labrador-A-Light;
  font-size: 16px;
  width: 300px;
  color: #FF9B00;
  border: 1px solid #FF9B00;
}

.submit_button,  {
  height: 23px;
  width: 57px;
  font-family: Labrador-A-Light;
  font-size: 16px;
  color: white;
  line-height: 23px;
  background-color: #FF9B00;
  margin-left: 12px;
  border: none;
}

#forgot_password {
  display: inline-block;
  font-family: Labrador-A-Light;
  height: 23px;
  width: 138px;
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 26px;
  background-color: #FF9B00;
}

#forgot_password a {
  color: white;
  text-decoration: none !important;
}

#home_notice {
  width: 300px;
  color: red;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 180px;
}

#log_in{
  display: inline-block;
  height: 23px;
  line-height: 26px;
  width: 60px;
}


#car_actions > table {
  text-align:center; margin:auto; font-size: 20px  ;
  border-collapse: collapse !important;

}



