
#header_banner {
  position: relative;
  height:  132px;
  width:  100%;
  min-width: 920px;
  //background-color: aqua;
  //z-index: 0

}

#header_title {
  position: relative;
  width:  400px;
  height: 132px;
  line-height: 132px;
  text-align: center;
  color:  white;
  font-size: 54px;
  padding: 0px auto;
  margin: 0px auto;
  float: none;
}