.col-5{style:"width:50%;float:left;padding:20px;"}
  %h2 Ooops!
  %p
    %h4 Looks like the page you are trying to reach is no longer available.
    Please check the URL for proper spelling and capitalization.
    If you're having trouble locating a destination on Hive, try visiting the Hive home page.
    %br
    %small
      Error code: 404
  =link_to "Go Home", root_url
.col-5{style:"width:50%;float:left;"}
  = image_tag("https://a0.muscache.com/airbnb/static/error_pages/404-Airbnb_final-d652ff855b1335dd3eedc3baa8dc8b69.gif")
  -# =image_tag("https://cdn4.wpbeginner.com/wp-content/uploads/2016/01/best404pluginswp.jpg")
