#dev_portal_header {
  height:  40px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 15px;
  font-size: 20px;
  background: #FF9B00;
  vertical-align: middle;
  color: white;
}

#create_application_form {
  height: 300px;
  width:  100%;
  margin: 0 auto;
  color: #FF9B00;
  text-align: center;
  font-size: 24px;
}

table.tbl_create_app{
  width: 50%;
  margin: 0 auto;
  border: solid #FF9B00 1px;
}
table.tbl_create_app tr {
  height: 25px;
}
table.tbl_create_app td {
  width: 50%;
  text-align:  left;
}

input#dev_portal_application_name{
  border: solid #FF9B00 1px;
  height: 25px;
  width: 300px;
}

input#commit{
 background: #FF9B00;
 color: white;
}

input[type=submit]{
  display: block;
  background: #FF9B00;
  color: white;
  height: 30px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}
textarea#dev_portal_description{
  border: solid #FF9B00 1px;
}

select#dev_portal_application_type{
  background: #FF9B00;
  color: white;
  height: 25px;
  width: 200px;
}

.upload-preview{
  border: solid #FF9B00 2px;
  background-color: white;
  height: 120px;
  width: 120px;
}
