#sign_in_form {
  height:  220px;
  width:  400px;
  color: white;
  margin: 0 auto;
  margin-top: 20px;
}

#sign_up {
  display: inline-block;
  height: 23px;
  width:  80px;
  background-color: #FF9B00;
  text-align: center;
  line-height: 28px;
  margin-left: 12px;
}

#sign_up a {
  color: white;
  text-decoration: none !important;
}

#email_label, #password_label {
  color: #FF9B00
}

.sign_in_input {
  height: 30px;
  width: 350px;
  color: #FF9B00;
  border: 1px solid #FF9B00;
  font-size: 24px;
}

.submit_button,  {
  height: 23px;
  width: 50px;
  color: white;
  background-color: #FF9B00;
  margin-left: 12px;
  font-family: Labrador-A-Medium;
  font-size: 24px;
  border: none;
}

#forgot_password {
  display: inline-block;
  height: 23px;
  width: 180px;
  color: white;
  text-align: center;
  line-height: 28px;
  background-color: #FF9B00;
}

#forgot_password a {
  color: white;
  text-decoration: none !important;
}

#home_notice {
  width: 300px;
  color: red;
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  margin-top: 180px;
}
