/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.


 *= require jquery-ui
 *= require_self
 */
@import "spectrum";
@import "foundation";
@import "hivev2/*";

h3{color:orange}

.container{
  //position:absolute;
  //width:100%;
  //overflow-y:hidden;
  //top:0;
  //bottom:0;
}

.picbox{
  border: 2px solid orange;
  display: inline-block;
  width: 40px;
  height: 50px;
  text-align: center;
  /* margin-top: -27px !important; */
  position: relative;
  /* top: -27px; */
  /* margin-left: 40px; */
  float: right;
  margin-right: 20px;
  line-height: 50px;
  font-size: 27px;
}

.postbox{
  border: 2px solid orange;
  display: inline-block;
  width: 40px;
  height: 50px;
  text-align: center;
  margin-top: 35px ;
  position: relative;
  /* top: -27px; */
  /* margin-left: 40px; */
  float: right;
  margin-right: 20px;
  line-height: 50px;
  font-size: 27px;
}

.parallelogram {
  border:2px solid orange;
  display:inline-block;
  //-webkit-transform: skew(-30deg);
  //-moz-transform: skew(-30deg);
  //-o-transform: skew(-30deg);
  position: relative;
  z-index: 999;
}

.parallelinput{
  margin-bottom: 16px;
  padding: 0px 30px;
}
.parallelogram input {
  outline: none;
  border: none;
  //-webkit-transform: skew(30deg);
  //-moz-transform: skew(30deg);
  //-o-transform: skew(30deg);
  background: none;
  margin-bottom: 0px;
  box-shadow: none;
  padding: 0px;
  height: 25px;
  width: 250px;
}

.parallelogram p{
  //-webkit-transform: skew(30deg);
  //-moz-transform: skew(30deg);
  //-o-transform: skew(30deg);
  margin-bottom: 0px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.parallelbtn{
  background: orange;
  height: 25px;
}

.parallelogram .paralsumbit{
  outline: none;
  border: none;
  //-webkit-transform: skew(30deg);
  //-moz-transform: skew(30deg);
  //-o-transform: skew(30deg);
  background: none;
  margin-bottom: 0px;
  box-shadow: none;
  padding: 0px;
  height: 24px;
  width: 60px;
  color:#fff;
  position:relative;
  top: -5px;
}


.inner_circle {
  border:2px solid orange;
  margin-left:5px;
  //width: 280px;
  //height: 280px;
  //border-radius: 50%;
  //overflow: hidden;
  //position: absolute;
  //-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC); /* this fixes the overflow:hidden in Chrome/Opera */
  //margin-left:-20px;
}

#hv_map , #sc_map, #cm_map, #mb_map, #fv_map ,#rt_map{
  width: 290px;height: 290px;position: relative;margin-left: 0px !important;
  position: relative;

}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    orange;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    orange;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    orange;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    orange;
}
:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
  color:    orange;
}

#triangle-topleft {
  width: 0;
  height: 0;
  border-top: 70px solid red;
  border-right: 70px solid transparent;
}

.columns {
  //padding-left: 0;
  //padding-right: 0;
  //margin:20px;
}

.status_count, .status_title,.status_country{
  //-webkit-transform: skew(30deg);
  //-moz-transform: skew(30deg);
  //-o-transform: skew(30deg);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.status_count{
  font-size: 30px;
  text-indent: 2em;
  height: 30px;
  line-height: 30px;
}

.status_title{

  font-size: 14px;
  text-indent: 1em;
}

.status_country{
  font-size: 26px;
  text-indent: 1em;
  height: 30px;
  line-height: 30px;
}

.app_information{
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
}

.adddiv{
  width: 300px;height: 20px;position: relative;top: -6px;background: orange;border-color: orange;
}

.addinfo{
  font-size: 14px;line-height: 15px !important;color: #fff;text-align: center;padding-left:10px;padding-right:10px;
}
.country_div{
  width: 270px;
  height: 53px;
  margin-top: 35px;
  position: relative;
  border: none;
  padding-right: 10px;
  text-indent: 1em;
}

.right_div{
  position:relative;
  z-index: 99;
}

.wrapper{
  position:relative;float:left;width:65px;
}

.user_div{
  width: 65px;height: 40px;background:orange;
}

.user_div_ft{
  width: 65px;height: 15px;position: relative;top: -11px;background: rgb(75,146,230);border-color: rgb(75,146,230);
}

.topic_div{
  width: 65px;height: 40px;background:orange;margin-top:30px;
}

.topic_div_ft{
  width: 65px;height: 15px;position: relative;top: -11px;background: rgb(125,211,34);border-color: rgb(125,211,34);
}

.loc_div{
  width: 65px;height: 40px;background:orange;margin-top:27px;
}

.user_status,.topic_status{
  font-size: 14px;line-height: 10px;color: #fff;text-align: center;
}

.right_wrapper{
position:relative;float:left;
  border: 1px solid;
}

.topic_modal_div{
  height: 300px;
  overflow-y: auto;
}

.post_div{
  height: 200px;
  overflow-y: auto;
}

.app_logo{
  width: 55px;
  height: 52px;
  margin-bottom: 5px;
  border: none;
  text-align: center;
  line-height: 52px;
  color: #fff;
}

.setting{
  width: 55px;height: 52px;background:orange;;position:relative;
  z-index:999;
}

.setting > img{
  //-webkit-transform: skew(30deg);
  //-moz-transform: skew(30deg);
  //-o-transform: skew(30deg);
  width: 36px;
  margin-left: 5px;
  margin-top: 5px;
}

.action_alarm{
  width: 55px;
  height: 52px;
  position: relative;
  background: rgb(80,227,194);
  z-index: 999;
  border: none;
  margin-top: 6px;
}

.footer_app{
  text-align: center;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  background: white;
  border-radius: 3px;
  box-shadow: 0 0 200px rgba(255,255,255,0.5),0 1px 2px rgba(0,0,0,0.3);
  font-size: 18px;
  margin-bottom: 30px;
}

.upload-preview {
  border: solid #FF9B00 2px;
  background-color: white;
  height: 120px;
  margin-left: 10px;
  width: 120px;
}

#btn_upload_icon .wrapper {
opacity: 0;
cursor: pointer;
position: absolute;
height: 50px;
width: 80px;
z-index: 2;
}

.reveal-modal{
  padding-left: 10px !important;
  padding-right: 10px !important;
  background: transparent;
  border:none;
  box-shadow: none;
}

#dev_portal_theme_color{
    width: 200px;
    padding: 0px;
    border: 2px orange;
}