// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#dashboard_links > li{
  text-align: center;
  width: 250px;
  padding: 10px;
  border: 1px solid grey;
  margin-bottom: 10px;
  background: orange;
  a {
    color:#fff;
  }
}
#dashboard_links {
  margin: 0 auto;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 30px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.trow {
  display: table-row;
  background: #f6f6f6;
}
.trow:nth-of-type(odd) {
  background: #e9e9e9;
}
.trow.header {
  font-weight: 900;
  color: #ffffff;
  background: orange;
}

.trow.red{
  background: #ea6153;
}
.trow.green {
  background: #27ae60;
}
.trow.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .trow {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

.utt{
  background: #fff;
  border: 1px solid oldlace;
  /* text-align: center; */
  color: orange;
  padding-left:15px;
}