html {
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
}

#main_background {
  height: 100%;
  width: 100%;
}

.container {
  width: 100%;
  height: 100% !important;
  padding: 25px 0px 25px 0px;
  background-image: url('BG.jpg');
  color: #FF9B00;
}

.removebg{
  background-image: none !important;
}

table.web_header {

}

#header {
  height: 110px;
  width: 100%;

  #logo {
    height: 87px;
    width: 305px;
    display: block;
    background-image: url('Hive-Dev-Web-Logo.png');
  }

  #header_info {
    font-size: 36px;
    height: 87px;
    display: block;
    width: 300px;
    text-align: right;
  }
}




