-##header_info{style:'margin-left: 200px'}
-#  - if current_user.present?
-#    %h3{style:'color: orange'}
-#      = session[:no_of_apps].to_s + " CONNECTED APPS"
-#
.right{style:'margin-right: 20px;'}
  - if current_user.present?
    %span{style:'font-size: 24px; color: orange'}
      Hello,
      =current_user.username
    %br
    = link_to "Logout", hiveapplication_index_path  , class:'logout'
- if current_user.present?
  .row
    .columns.large-12
      %h3
        =link_to "Create train fault", create_train_fault_alert_path
-#%ul.right{style: 'background: #fff;'}
-#  %li{style: 'background: #fff;'}
-#    %h5
-#      Hello,
-#      =current_user.username
-#    = link_to "Logout", hiveapplication_index_path  , class: 'button tiny warning'
/ Left Nav Section
-#%ul.left
-#  %li
-#    %a{:href => "#"} Left Nav Button